ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    display: inline-block;
    margin: 0 5px;
}

ul li:first-child {
    margin: 0;
}

#app {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
}
.left-side,
.right-side {
    width: 50%;
    padding: 15px;
}